<style>
 em{
   color:#0b5ed6;
 }
 
</style>
<h1>How To Play</h1>
<strong><p>
  <em>Learn Texas Holdem</em>
</p>
</strong>

<br><br>

<video width="600"  controls>
  <source src="https://dl.dropboxusercontent.com/u/62729155/How%20to%20Play%20Poker%20-%20Texas%20Holdem%20Rules%20Made%20Easy.webmhd.webm" type="video/webm">
  Your browser does not support HTML5 video.
</video>

