<style>
small{
  color:white;
}

</style>
<footer class="footer navbar-fixed-bottom">
  <small>
    The Term Project for CSC-667 SFSU
    by Group-6
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>